.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: thin;
  
  
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.navi{
    visibility:hidden;
    display:none;
}
h1{
    line-height:110%;
    margin-bottom:10vh;
    margin-left:8vw;
    font-size:10vw;
    font-family: "Abril Fatface", serif;
    text-wrap-style:pretty;
}
.smaller{
    font-size:1vw;
}
.ul1{
     display:flex;
    margin-block-start:0;
    list-style-type:none;
    padding-inline-start:0;
}
ul{
    
    list-style-type:none;
}
li{
    padding: 1vw;
    margin:auto;
}

.navbar{
    
    position:sticky;
    overflow:hidden;
    top:0;
    background-color:rgba(255,255,255,0.9);
    
}
a{
    color: black;
    text-decoration: none;
    font-size:2.5vh;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}

a:visited{
    color:black;
}
a:hover{
    color:#666;
}
a:active{
    color:#888;
}
.phone{
    display:none;
}
.konkuter{
    display:block;
     max-width:1920px;
}


h3{
    margin-left:25vw;
    margin-right:20vw;
    font-size:4vh;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}
pre{
    font-family: "Roboto", sans-serif;
    font-size:2.5vh;
   
    text-wrap-style:pretty;
}
p{
    font-family: "Roboto", sans-serif;
    font-size:2.5vh;
  
    text-wrap-style:pretty;
}
.marginp{
  margin-left:25vw;
     margin-right:25vw;
}
.justify{
    text-align: center;
    display:flex;
    justify-content: center;
    align-content:center;
}
body{
    margin:0;
    overflow-x:hidden;
    text-decoration:none;
}

footer{
   
    border-top-style:solid;
    border-width:2px;
    border-color:rgb(255, 198, 214);
    justify-content:center;
    display:flex;
    align-items:flex-start;
    
}
#foot{
    margin-left:20vw;
}
img{
    border-bottom-style:solid;
    border-width:2px;
    border-color:rgb(255, 198, 214);
}

@media screen and (max-width:1080px) and (orientation:portrait){
.navbar{display:none}

.phone{
    max-width:fit-content;
    display:block;
}
.konkuter{
    display:none;
}
button{
     border:#fff;
    background-color:#fff;
}
.dropdownBtn{
    
    margin:auto;
   
     font-size:3vh;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    border:#fff;
    background-color:#fff;
}
li{
    padding-top:0.5vh;
    
}
.content{
    text-align:center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 2vw;
  max-width:10vw;
}
.navi:hover .content {
  display:contents;
  
  
}
.navi{
    text-align:center;
    display:block;
    visibility:visible;
    position:sticky;
    overflow:hidden;
    top:0;
    
    background-color:rgba(255,255,255,0.9);
}
a{
    text-decoration: none;
    font-size:3vh;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}
ul{
    padding:0;
    margin:0;
}
.smaller{
    font-size:2.5vw;
}
h1{
    margin:4vw;
    font-size:17vw;
    font-family: "Abril Fatface", serif;
    text-wrap-style:pretty;
}
h3{
    margin-left:4vw;
    margin-right:20vw;
    font-size:4vh;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}
pre{
    font-family: "Roboto", sans-serif;
    font-size:2vh;
   
    text-wrap-style:pretty;
}
p{
    font-family: "Roboto", sans-serif;
    font-size:2vh;
  
    text-wrap-style:pretty;
}
.marginp{
  margin-left:4vw;
     margin-right:4vw;
}
.justify{
    text-align: center;
    display:block;
    text-wrap-mode:wrap;
    text-wrap-style:pretty;
    justify-content: center;
    align-content:center;
    margin:4vw;
}
footer{
    border-top-style:solid;
    border-width:2px;
    border-color:black;
    display:block;
    margin:2vw;
  
}
#foot{
    margin-left:0vw;
}
body{
    margin:0;
    overflow-x:hidden;
    text-decoration:none;
}

}
 @media screen and (max-width:1080px) and (orientation:landscape){
.navbar{display:none}
.phone{
    display:none;
}
.konkuter{
  max-width:fit-content;
    display:block;
}
body{
    margin:0;
    overflow-x:hidden;
    text-decoration:none;
}
button{
     border:#fff;
    background-color:#fff;
}
.dropdownBtn{
    
    margin:auto;
   
     font-size:3vw;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    border:#fff;
    background-color:#fff;
}
li{
    padding-top:0.5vw;
    
}
body{
    margin:0;
    overflow-x:hidden;
    text-decoration:none;
}
.content{
    text-align:center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 2vw;
  max-width:10vw;
}
.navi:hover .content {
  display:contents;
  
  
}
.navi{
    text-align:center;
    display:block;
    visibility:visible;
    position:sticky;
    overflow:hidden;
    top:0;
    
    background-color:rgba(255,255,255,0.9);
}
a{
    text-decoration: none;
    font-size:3vw;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}
ul{
    padding:0;
    margin:0;
}
.smaller{
    font-size:1.5vw;
}

h1{
    margin:4vw;
    font-size:17vw;
    font-family: "Abril Fatface", serif;
    text-wrap-style:pretty;
}
h3{
    margin-left:4vw;
    margin-right:20vw;
    font-size:4vw;
    font-weight:200;
    font-family: "Roboto Slab", serif;
    text-wrap-style:pretty;
}
pre{
    font-family: "Roboto", sans-serif;
    font-size:2vw;
   
    text-wrap-style:pretty;
}
p{
    font-family: "Roboto", sans-serif;
    font-size:2.5vw;
  
    text-wrap-style:pretty;
}
.marginp{
  margin-left:4vw;
     margin-right:4vw;
}
.justify{
    text-align: center;
    display:block;
    text-wrap-mode:wrap;
    text-wrap-style:pretty;
    justify-content: center;
    align-content:center;
    margin:4vw;
}
footer{
    border-top-style:solid;
    border-width:2px;
    border-color:black;
    display:block;
    margin:2vw;
  
}
#foot{
    margin-left:0vw;
}

}


